* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: #120323;
}

main {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h1 {
  color: #97bf04;
}

h2 {
  color: #120323;
}

figure img {
  border: 3px solid #d9043d;
  width: 100%;
  height: auto;
  /* object-fit: contain; */
}

aside {
  background-color: #97bf04;
}

footer {
  background-color: #d9043d;
}

@media screen and (min-width:768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }



  main img {
    max-width: 300px;
  }

  main figure {
    display: flex;
    gap: 1rem;
  }
}

@media screen and (min-width:1000px) {



  #container {
    display: flex;
  }
}